@font-face {
    font-family: "pixel-custom";
    src: url("../asset/VCR_OSD_MONO_1.001.ttf");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}
body {
    margin: 0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-image: url("../asset/backAccueilFlou.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
}

.currentHighlight{
    position:absolute;
    z-index:20;
    background-color: rgba(9, 167, 11,0.4);
}
.errorHighlight{
    position:absolute;
    z-index:20;
    background-color: rgba(181, 2, 2,0.4);
}
canvas {
    grid-column: 1 / 3;
    grid-row: 1;
}

#code {
    grid-column: 3;
    grid-row: 1;
}

#buttons {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#infos {
    width: 98%;
    grid-column: 1 / 2;
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgba(128, 125, 125, 0.4);
    color: white;
    font-family: 'pixel-custom';
    padding-top: 12px;
}
#editor {
    display: block;
    height: 100%;
    padding : 0;
    margin : 0;
}

#editorText {
    height: 100%;
}

#clear {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: white;
    font-family: 'pixel-custom';
    font-size: xx-large;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    display: block;
    margin: auto;
}

#compilation {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: white;
    font-size: xx-large;
    font-family: 'pixel-custom';
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    display: block;
    margin: auto;
}
#example {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: white;
    font-size: xx-large;
    font-family: 'pixel-custom';
    text-align: center;
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    display: block;
    margin: auto;
}
#back {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: white;
    font-size: xx-large;
    font-family: 'pixel-custom';
    text-align: center;
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    display: block;
    margin: auto;
}
#popupGameOver {
    position: absolute;
    top: 25%;
    left: 25%;
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
}

#popupWin {
    position: absolute;
    top: 25%;
    left: 25%;
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
}

#fin {
    color: white;
    font-size: x-large;
    font-family: 'pixel-custom';
    text-align: center;
    padding-top: 7px;
}

#etoiles {
    background-image: url("../asset/fondetoiles.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 217.5px;
    height: 73.5px;
    margin-left: 50px;
}

#etoilevide {
    padding-top: 5px;
    margin-left: 18px;
}

#tryAgain {
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: xx-large;
    font-family: 'pixel-custom';
    text-align: center;
    cursor: pointer;
}

#next {
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: xx-large;
    font-family: 'pixel-custom';
    text-align: center;
    cursor: pointer;
}

#leave {
    position: absolute;
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: xx-large;
    font-family: 'pixel-custom';
    text-align: center;
    cursor: pointer;
    margin-left: 20%;
}

#consoles {
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'pixel-custom';
    margin-top: 15px;
    margin-left: 15px;
}
h4 {

    margin-top: 6px;
}

.scroller {
    width: 100%;
    height: 180px;
    overflow-y: scroll;
}

li {
    line-height: 0.5;
}
ul {
    padding-left: 10px;
}


#objBTN {
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: large;
    font-family: 'pixel-custom';
    text-align: center;
    cursor: pointer;
    margin-top: -25px;
}

#rulesBTN {
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: large;
    font-family: 'pixel-custom';
    text-align: center;
    cursor: pointer;
    margin-top: -20px;
}

#title_target {
    margin-top: -5px;
}

#rules {
    margin-top: -2px;
}

#popupOBJ {
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 331px;
    height: 275px;
}
#title_popupOBJ {
    font-size: large;
    color: white;
    font-family: 'pixel-custom';
    text-align: center;
}
#title_popupRULES {
    font-size: large;
    color: white;
    font-family: 'pixel-custom';
    text-align: center;
}

#desc_popupOBJ {
    font-size: medium;
    color: white;
    font-family: 'pixel-custom';
    text-align: center;
}
#desc_popupRULES {
    font-size: medium;
    color: white;
    font-family: 'pixel-custom';
    text-align: center;
}
#leave2 {
    position: absolute;
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: xx-large;
    font-family: 'pixel-custom';
    text-align: center;
    cursor: pointer;
    margin-left: 20%;
}
#leave3 {
    position: absolute;
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: xx-large;
    font-family: 'pixel-custom';
    text-align: center;
    cursor: pointer;
    margin-left: -18px;
}
#popupRULES {
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 331px;
    height: 275px;
}
