@font-face {
    font-family: "pixel-custom";
    src: url("../asset/VCR_OSD_MONO_1.001.ttf");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}

body {
    background-image: url("../asset/backAccueilFlou.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;

}

h1 {
    font-family: 'pixel-custom';
    color: white;
    text-align: center;
    font: bold;
    padding-top: 15px;
}

p {
    font-family: 'pixel-custom';
    color: white;
    text-align: center;
    font: bold;
    font-size:xx-large;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 4%;
    margin-top: 2%;
}

#title {
    background-image: url("../asset/lvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 174px;
    height: 69px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#etoiles {
    background-image: url("../asset/fondetoiles.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 217.5px;
    height: 73.5px;
    margin-left: 50px;
}

#etoilevide {
    padding-top: 5px;
    margin-left: 18px;
}

#cadena {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#lvls {
    margin: 0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    row-gap: 30px;
}

#lvl1 {
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
    grid-column: 2;
    grid-row: 1;
}

#lvl2 {
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
    grid-column: 4;
    grid-row: 1;
}

#lvl3 {
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
    grid-column: 6;
    grid-row: 1;
}

#lvl4 {
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
    grid-column: 8;
    grid-row: 1;
}

#lvl5 {
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
    grid-column: 2;
    grid-row: 2;
}

#lvl6 {
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
    grid-column: 4;
    grid-row: 2;
}

#lvl7 {
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
    grid-column: 6;
    grid-row: 2;
}

#lvl8 {
    background-image: url("../asset/fondlvl.png");
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    width: 331px;
    height: 241px;
    grid-column: 8;
    grid-row: 2;
}

#soon {
    font-size: x-large;
}

#desc_entrainement {
    font-size: large;
}